.rankText__name>p{
    font-size: large;
    
}
.rankText__text__holder>p{
    font-size: x-large;
    height: auto;
    width: auto;
    font-weight: 500;
    color: white;
    margin: none;
}
.rankFrame{
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
}
.heroic-text {
    background: linear-gradient(45deg, #2600ff, #83efed, #2af7d5, #bd4cea, #00032c);
    background-size: 150%;
    animation: gradient 2.5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  [heroic]:before {
    position: absolute;
    background: linear-gradient(45deg, #2600ff, #83efed, #2af7d5, #bd4cea, #00032c);
    background-size: 150%;
    animation: gradient 2.5s ease infinite;
    content: attr(heroic);
    filter: blur(25px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes gradient {
    0%,
    to {
      background-position: 0 50%
    }
    50% {
      background-position: 100% 50%
    }
  }